body {
    background: linear-gradient(45deg, #08001f, #30197d);
}

*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    background: linear-gradient(45deg, #08001f, #30197d);
    width: 50%;
    min-width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 0;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}

.timer-display {
    position: relative;
    width: 80%;
    background: linear-gradient(45deg, #7AB2D3, #B9E5E8);
    left: 4%;
    font-family: 'Roboto mono', monospace;
    color: #000000;
    font-size: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons {
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    flex: 1;
    max-width: 130px;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(145deg, #2e557b, #497aa5);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.buttons button:hover {
    background: linear-gradient(145deg, #468d3b, #78c15d);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.buttons button:active {
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#pause {
    background: linear-gradient(145deg, #2e557b, #497aa5);
    color: #ffffff;
}

#pause:hover {
    background: linear-gradient(145deg, #bfa875, #b6810f);
}

#reset {
    background: linear-gradient(145deg, #2e557b, #497aa5);
    color: #ffffff;
}

#reset:hover {
    background: linear-gradient(145deg, #935858, #ff7c7c);
}